# The CODEOWNERS file defines who can approve pull requests, among other
# things.  Each line is a file pattern followed by one or more users.  See
# https://help.github.com/articles/about-codeowners/ for more info.

* @fardaniqbal
